In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 
#노트북 환경에서 바로 시각화를 할 수 있기 위해 
#다음 주에 다룰 예정


# Numpy
Numerical Python<br/><br/>
다차원 배열을 쉽고 빠르게 처리<br/>
숫자로 이루어진 Table형 데이터를 다룰 때 주로 사용<br/>(예: 이미지)
#차원별 데이터에 +1 등의 연산가능


# 차원에 따라 데이터를 부르는 이름
1차원: 벡터<br/>
2차원: 매트릭스<br/>
3차원: 텐서

In [ ]:
print(np.array([0,1,2,3,4,5,6,7,8,9,10,11]).size) #몇개로 구성  ?
print(np.array([0,1,2,3,4,5,6,7,8,9,10,11]).shape) #12 .라는 1차원 백터
print(np.array([[0,1,2,3,4,5],[6,7,8,9,10,11]]).shape) #2,6 matrix #ex) 흑백 이미지
print(np.array([[[0,1,2],[3,4,5]],[[6,7,8],[9,10,11]]]).shape) #ex) RGB로 구성된 이미지

12
(12,)
(2, 6)
(2, 2, 3)

# Ndarray (N-dimensional Array) <b/>

In [ ]:
#arange와 range
a_fromlist=list(range(0,10,1))
a_fromnp=np.arange(10)
a_fromnp_two=np.array([0,1,2,3,4,5,6,7,8,9])
print(np.array_equal(a_fromnp,a_fromnp_two)) #두 배열이 같은지 비교해주는 함수. ==이나 != 사용하면 안되는 이유 후술.
a_fromnp

True

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
#초기화 (full,ones,zeros,dtype,astype,reshape)
b=np.ones((2,5),dtype='int') #1로 이루어진 25 행렬
c=np.zeros((2,5),dtype='int') #0으로 이루어진 2,5행렬
d=np.full(10,7)  #10개의 해당 데이터(7)로 이루어진 배열 
print(b)
print(c)
print(d)
b=b.astype('float') #데이터형 변화
c.shape=(5,2) #이런식으로 쉐이프를 변화줄 수도 있음
print(b.reshape(5,2)) #이렇게 행렬 쉐이프를 바꿀수도 있음
print(c)

[[1 1 1 1 1]
 [1 1 1 1 1]]
[[0 0 0 0 0]
 [0 0 0 0 0]]
[7 7 7 7 7 7 7 7 7 7]
[[1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]
 [1. 1.]]
[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]

In [ ]:
#리스트 변환 방법
print(a_fromlist==a_fromnp.tolist())  #arrange였던애를 list로 변환함
print(a_fromnp.tolist())
print(a_fromnp)
#list()를 사용하면?
a_fromnp=a_fromnp.reshape(5,2)
print(list(a_fromnp)) #겉에만 리스트가 처리된다 그러니 tolist사용할것
a_fromlist

False
[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9]]
[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
[array([0, 1]), array([2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#연산
# +
print(a_fromnp+a_fromnp) #각 자리값마다 더하는 형태
print(a_fromnp.tolist()+a_fromnp.tolist()) #리스트를 더할때는 append의 효과
print(a_fromnp+1)
print(a_fromnp.tolist()+1) #오류나옴

[[ 0  2]
 [ 4  6]
 [ 8 10]
 [12 14]
 [16 18]]
[[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], [0, 1], [2, 3], [4, 5], [6, 7], [8, 9]]
[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]]

TypeError: ignored

In [ ]:
#-, *,/,@,==,!=
print(a_fromnp*a_fromnp) #행렬 값끼리의 곲
print(a_fromnp-a_fromnp)
print(a_fromnp /(a_fromnp)) #결측치: 0으로 나눌 수 없음!
print(a_fromnp.reshape(5,2)@a_fromnp.reshape(2,5)) #내적 구하기
print(a_fromnp==a_fromnp)
print(a_fromnp!=a_fromnp)

[[ 0  1]
 [ 4  9]
 [16 25]
 [36 49]
 [64 81]]
[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]
[[nan  1.]
 [ 1.  1.]
 [ 1.  1.]
 [ 1.  1.]
 [ 1.  1.]]
[[  5   6   7   8   9]
 [ 15  20  25  30  35]
 [ 25  34  43  52  61]
 [ 35  48  61  74  87]
 [ 45  62  79  96 113]]
[[ True  True]
 [ True  True]
 [ True  True]
 [ True  True]
 [ True  True]]
[[False False]
 [False False]
 [False False]
 [False False]
 [False False]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [ ]:
#Indexing, Broadcasting
c_fromnp=np.array(np.arange(16)).reshape(4,4) 
print(c_fromnp[1],c_fromnp[1][1],c_fromnp[2,2],c_fromnp[:3,:3],c_fromnp[:,2],sep='\n next: ')
print(c_fromnp+np.array([16])) #차원의 크기가 1일때 각 행렬값에 16을 더해버림
print(c_fromnp@np.array([1,2,3,4])) #차원에 대해 축의 길이가 동일할 때  4 4 행렬과 41행렬의 내적 4 1 행렬
print(c_fromnp@np.array([1,2,3,4]).T) #차원에 대해 축의 길이가 동일할 때

[4 5 6 7]
 next: 5
 next: 10
 next: [[ 0  1  2]
 [ 4  5  6]
 [ 8  9 10]]
 next: [ 2  6 10 14]
[[16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[ 20  60 100 140]
[ 20  60 100 140]

In [ ]:
#Squeeze
#Remove axes of length one from a.
c_fromnp.shape=(4,1,4)
print(c_fromnp)
np.squeeze(c_fromnp).shape #squeeze시키니 아래에서 추가한 차원이 사라진 모습

[[[ 0  1  2  3]]

 [[ 4  5  6  7]]

 [[ 8  9 10 11]]

 [[12 13 14 15]]]

(4, 4)

In [ ]:
#기타 기능 1
tile=np.tile([[1,3],[2,4]],(2,3))
print(tile) 
print(tile>2)
tile_two=tile.copy() #import copy한 후 copy.deepcopy(변수명)으로 deep copy 가능
tile_two[tile_two>2]=100
print(tile_two)
print(np.min(tile),np.max(tile),np.sum(tile),np.mean(tile),tile.std(),tile.var(),np.unique(tile),sep='\n') #unique는 안겹치는 값만 뽑아서 제공
print(tile_two.ravel()) #행렬 제거하고 한줄짜리로 만드는 것
#---

[[1 3 1 3 1 3]
 [2 4 2 4 2 4]
 [1 3 1 3 1 3]
 [2 4 2 4 2 4]]
[[False  True False  True False  True]
 [False  True False  True False  True]
 [False  True False  True False  True]
 [False  True False  True False  True]]
[[  1 100   1 100   1 100]
 [  2 100   2 100   2 100]
 [  1 100   1 100   1 100]
 [  2 100   2 100   2 100]]
1
4
60
2.5
1.118033988749895
1.25
[1 2 3 4]
[  1 100   1 100   1 100   2 100   2 100   2 100   1 100   1 100   1 100
   2 100   2 100   2 100]

In [ ]:
#기타 기능 2
print(np.linspace(0,10,5))
np.random.seed(123) #시드 고정
print(np.random.randint(70,150,(4,4)))  #랜덤한 숫자를 뽑아옴
print(np.identity(3))

[ 0.   2.5  5.   7.5 10. ]
[[144 135 117  86]
 [ 75 116  85 129]
 [110  95 115 119]
 [ 70 105  99  71]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [ ]:
#https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html

#Pandas
Panel Datas<br/><br/>
Table형 데이터를 불러오고 다룰 때 사용<br/>
Numpy 와 다양한 연계 기능을 제공<br/>
Index 와 columns을 통한 접근<br/>

# Series

In [ ]:
#기본이 되는 자료형
#Dataframe에서 하나의 열을 추출했을 때
#인덱싱이 요소로 추가된 리스트 자료형

In [ ]:
#리스트로 Series 만들기
colors=pd.Series(['r','g','b','y'])
print(colors)
colors_two=pd.Series(['r','g','b','y'],index=["빨","초","파","노"])
print(colors_two)
colors_two.index=['Red','Green','Blue','Yellow']
print(colors_two)

NameError: ignored

In [ ]:
#함수 적용
colors=colors.apply(lamb-ly(lambda x: x.upper()) #ord(x)
colors_two

In [ ]:
print(colors+colors_two)
print(colors.rename(dict([(0,'Red'),(1,'Green'),(2,'Blue'),(3,'Yellow')]))+colors_two) #또는 {0:'Red'...}

In [ ]:
#사전으로 Series 만들기, 값 변환
colors_three=pd.Series({'Red':'r','Yellow':'y'})
print(colors_three)
print(colors_three['Red']) #해당 값 인덱싱가능
colors_three['Blue']='b' #값을 추가가능
print(colors_three)
colors_three['Red']='m' # 값을 변화가능
print(colors_three)

#DataFrame

In [ ]:
#Df 만들기
aa=pd.DataFrame({'beverage':['coke','soda','juice'],'cost':[1100,1500,2000],
                 'taste':['good','bad','good']}) #사전으로 만들 수 있음 그때는 column이름 정하기 쉽다
bb=pd.DataFrame([['coke',1100,'good'],['soda','1500','juice']])
print(bb)
aa

      0     1      2
0  coke  1100   good
1  soda  1500  juice

  beverage  cost taste
0     coke  1100  good
1     soda  1500   bad
2    juice  2000  good

In [ ]:
#열 순서, 행 이름 설정
aa=pd.DataFrame({'beverage':['coke','soda','juice'],'cost':[1100,1500,2000],'taste':['good','bad','good']},
                columns=['cost','beverage','taste'],index=['a','b','c']) #이렇게 세분화 가능
aa

   cost beverage taste
a  1100     coke  good
b  1500     soda   bad
c  2000    juice  good

In [ ]:
#Df의 한 열은 Series #series들로 구성되어 있는 느낌
print(aa['cost'])
type(aa['cost'])

a    1100
b    1500
c    2000
Name: cost, dtype: int64

pandas.core.series.Series

In [ ]:
#값 변환, 행/열 추가
aa['cost']=1500  #가격을 1500으로 통일
print(aa)
aa['rating']=aa.taste  #새로운 행추가 시 마치 dictioncary처럼

   beverage  cost taste rating
0      coke  1500  good   good
1      soda  1500   bad    bad
2     juice  1500  good   good
3  medicine  1500  good   good

In [ ]:
#열 이름 바꾸기, 열을 index로 설정, index 이름 바꾸기
aa.rename(columns={'cost':'won'},inplace=True) #이렇게 바꿈 inplace는 aa=하고 할당하지 않도록 교체가 되도록 하는 기능
aa.set_index(['beverage'],inplace=True) #특정 열을 index로 설정
aa.index.name='menu' #index 이름 재설정
aa

           won taste rating  health
menu
coke      1500  good   good       0
soda      1500   bad    bad       0
juice     1500  good   good       0
medicine  2000  good   good       1
latte      500  good   good       1

In [ ]:
#열, 인덱스, 값 추출
print(aa.columns, aa.index, aa.values,sep='\n')

Index(['won', 'taste', 'rating', 'health'], dtype='object')
Index(['coke', 'soda', 'juice', 'medicine', 'latte'], dtype='object', name='menu')
[[1500 'good' 'good' 0]
 [1500 'bad' 'bad' 0]
 [1500 'good' 'good' 0]
 [2000 'good' 'good' 1]
 [500 'good' 'good' 1]]

In [ ]:
#행열 순서 바꾸기 #결측값 제거
aa.reindex(columns=aa.columns[::-1],index=aa.index[::-1],fill_value=0) #결측치 생성시에 fill_value쓰면 결측치를 값으로 바꿀 수 있다. #index에 +s 해보기

          health rating taste   won
menu
latte          1   good  good   500
medicine       1   good  good  2000
juice          0   good  good  1500
soda           0    bad   bad  1500
coke           0   good  good  1500

In [ ]:
#정렬 문자는 알파벳 숫자는 크기 순 
##aa.sort_index(ascending=False) #기본적으로 ascending은 true임 이때는 작은 값부터 
aa.sort_index(axis=1) #열 이름',a부분을 정렬
#aa.sort_values(by='healthscending=False) #원하는 column을 by로 설정하고 그거 기준으로 정렬

          health rating taste   won
menu
coke           0   good  good  1500
soda           0    bad   bad  1500
juice          0   good  good  1500
medicine       1   good  good  2000
latte          1   good  good   500

In [ ]:
#loc: Access group of rows, columns by labels location의 약자 label의 조건이나 선언해서 특정 행이나 열을 조건에 맞는 정보로 가공
print(aa)
#aa.loc['coke','taste'] #coke행에 해당하는 것중 taste열을 뽑아주세요
#aa.loc['latte':,'rating':] #주스부터 라는 뜻 :있으니 taste이후 index는 아래로 열은 왼쪽으로
#aa.loc[:,'won':'taste'] #:은 모든 행은 그대로 두겠다, 열은 won부터 taste 까지
aa.loc[[True,False,True,True,False],[True,False,True,False]] #true false로만 인덱싱 #true처리된 열이나 index만 나오도록 처리

           won taste rating  health
menu
coke      1500  good   good       0
soda      1500   bad    bad       0
juice     1500  good   good       0
medicine  2000  good   good       1
latte      500  good   good       1

           won rating
menu
coke      1500   good
juice     1500   good
medicine  2000   good

In [ ]:
#조건 달기
aa.loc[(aa['won']<=1500)&(aa['taste']=='good')] #이런놈들만 뽑아달라

        won taste rating
menu
coke   1500  good   good
juice  1500  good   good

In [ ]:
#특정 행, 열 제거
#ff= aa.drop(['latte','soda'],inplace=False) #axis = 0 인경우(기본값) 인덱스 제거 latte와 soda 를 삭제 implace True하면 그대로 반영 
ff=aa.drop(['health'],axis=1,inplace=False) #이경우는 열을 손대는 경우임 
ff

           won taste rating  health
menu
coke      1500  good   good       0
soda      1500   bad    bad       0
juice     1500  good   good       0
medicine  2000  good   good       1
latte      500  good   good       1

In [ ]:
#loc로 행 추가
aa.loc['monster']=[2000,'good','bad',1] #새로운 인덱스와 값 추가 가느
aa

           won taste rating  health
menu
coke      1500  good   good       0
soda      1500   bad    bad       0
juice     1500  good   good       0
medicine  2000  good   good       1
latte      500  good   good       1
monster   2000  good    bad       1

In [ ]:
#iloc: integer locatio하n(인덱스로 loc기)
#aa.iloc[1,1] #2,2 행렬
#aa.iloc[1:] #행기준 2행부터 열은 지정안했으니 모두
aa.iloc[1:,1:] #2행 2열부터

won         1500
taste        bad
rating       bad
health         0
cost        1500
beverage     NaN
Name: 1, dtype: object

In [ ]:
#데이터 불러오기
hwansoo=pd.read_csv('/문 항목 보여줌, tail은 하위 5개화재청_국외문화재 환수 현황_20210901.csv',encoding='euc-kr') #utf8 바꿔줄것 read_csv로 대부분 해결 
hwansoo.head() #상위 5개

   대상국    수량  ... 민간(개인 사립박물관 등) 구입  민간(개인 사립박물관 등) 기증
0   일본  6619  ...             321.0              261.0
1   미국  2022  ...              10.0              192.0
2  스페인   892  ...               NaN                NaN
3   독일   724  ...               2.0                NaN
4  프랑스   303  ...               1.0                NaN

[5 rows x 11 columns]

In [ ]:
#결측치 여부 확인
#hwansoo.isnull() #결측치면 True 아님 false
hwansoo.isnull().sum() #행별로 결측치들 개수의 합 제공
hwansoo.loc[hwansoo.isnull()['민간(개인 사립박물관 등)협상']] #결측치여부가 TRue인 것만 보여줌

     대상국    수량  ... 민간(개인 사립박물관 등) 구입  민간(개인 사립박물관 등) 기증
0     일본  6619  ...             321.0              261.0
2    스페인   892  ...               NaN                NaN
4    프랑스   303  ...               1.0                NaN
5   뉴질랜드   186  ...               NaN                NaN
6   이탈리아    59  ...               NaN                NaN
7    캐나다    20  ...               NaN                NaN
8     영국    11  ...              10.0                NaN
9     호주     1  ...               NaN                NaN
10  노르웨이     1  ...               NaN                NaN
11   스위스     3  ...               3.0                NaN

[10 rows x 11 columns]

In [ ]:
#결측치 채우기
hwansoo.replace(' ',0,inplace=True)
hwansoo.fillna(0) #괄호안의 숫자로 바꿈
hwansoo.dropna()#결측치가 있는 행자체를 제거
#hwansoo.dropna(axis=1)  #아마도 열자체를 제거
#hwansoo.fillna(hwansoo.mean())
hwansoo=hwansoo.fillna(method='ffill',axis=1)

In [ ]:
#해당 Df에 대한 정보
print(hwansoo.shape)
print(hwansoo.info)
hwansoo.describe()

(12, 11)
<bound method DataFrame.info of      대상국    수량  ... 민간(개인 사립박물관 등) 구입 민간(개인 사립박물관 등) 기증
0     일본  6619  ...               321               261
1     미국  2022  ...                10               192
2    스페인   892  ...                 0                 0
3     독일   724  ...                 2                 2
4    프랑스   303  ...                 1                 1
5   뉴질랜드   186  ...                 0                 0
6   이탈리아    59  ...                 0                 0
7    캐나다    20  ...                 0                 0
8     영국    11  ...                10                10
9     호주     1  ...                 0                 0
10  노르웨이     1  ...                 0                 0
11   스위스     3  ...                 3                 3

[12 rows x 11 columns]>

         대상국  수량  ... 민간(개인 사립박물관 등) 구입 민간(개인 사립박물관 등) 기증
count     12  12  ...              12.0              12.0
unique    12  11  ...               6.0               7.0
top     노르웨이   1  ...               0.0               0.0
freq       1   2  ...               6.0               6.0

[4 rows x 11 columns]